<div>
  <a mat-button routerLink="add">Add Product</a>
  <div class="mat-elevation-z8">
    @if (productsPageReq$ | async; as page) {
      <table mat-table [dataSource]="tableContent">

        <!-- Position Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> Id. </th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let element"><a [routerLink]="['details', element.id]">{{element.name}}</a></td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="price">
          <th mat-header-cell *matHeaderCellDef> Price </th>
          <td mat-cell *matCellDef="let element"> {{element.price}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="amount">
          <th mat-header-cell *matHeaderCellDef> Amount </th>
          <td mat-cell *matCellDef="let element"> {{element.amount}} </td>
        </ng-container>

        <ng-container matColumnDef="update">
          <th mat-header-cell *matHeaderCellDef> Update </th>
          <td mat-cell *matCellDef="let element"><a [routerLink]="['update', element.id]"><span mat-icon>edit</span></a> </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <div class='table-buttons'>
        <button mat-button (click)="refresh()">Refresh</button>
        <div id='select-page'>
          @for (x of [].constructor(page.totalPages); track i; let i = $index) {
            <button mat-button
              (click)="onSelectPage(i)"
              [ngClass]="page.number == i ? 'page-active' : ''"
              >{{i + 1}}</button>
          }
        </div>
        <mat-paginator
          showFirstLastButtons
          aria-label="Select page"
          [pageSizeOptions]="[10]"
          [length]="page.totalElements"
          [pageIndex]="page.number"
          (page)="handlePaginatorEvent($event)"
        />
      </div>
    } @else {
      <my-spinner />
    }

  </div>
</div>
