<div>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

    <div>
      <label for="username">Username: </label>
      <input id="username" type="text" formControlName="username" autocomplete='username'>
    </div>

    <div>
      <label for="password">Password: </label>
      <input id="password" type="password" formControlName="password" autocomplete='current-password'>
    </div>

    <p *ngIf="error" style='color: red;'>{{error}}</p>

    <div><input type='submit'></div>
  </form>
</div>
