table {
  width: 100%;
}

.table-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page-active {
  font-weight: bolder;
  text-decoration: underline;
  text-decoration-thickness: 5px;
}

:host {
  ::ng-deep {
      .mat-mdc-paginator-page-size {
        display: none;
      }
      .mat-mdc-paginator-range-label {
        display: none;
      }
      .mat-mdc-paginator-range-actions {
        display: none;
      }
    }
}
