
<mat-sidenav-container class="app-container">
  <mat-sidenav #sidenav mode="over" id='drawer'>
    <div id='nav-menu-top'>
      <button mat-button (click)="sidenav.toggle()"><span class="material-icons">close</span></button>
    </div>
    <nav>
    @if (auth$ | async; as auth) {
      @if (isAdmin(auth.roles)) {
        <li><a mat-button routerLink='/admin/users' (click)="sidenav.close()">Users</a></li>
      }
      @if (isAdmin(auth.roles) || isStocker(auth.roles) ) {
        <li><a mat-button routerLink='/products' (click)="sidenav.close()">Products</a></li>
      }
      @if (isAdmin(auth.roles) || isCashier(auth.roles) ) {
        <li><a mat-button routerLink='/sells' (click)="sidenav.close()">Sells</a></li>
      }
      <li><button mat-button (click)="[logout(), sidenav.close()]">Logout</button></li>
    } @else {
      <li><a mat-button routerLink='/login' (click)="sidenav.close()">Login</a></li>
    }
    </nav>
  </mat-sidenav>

  <mat-sidenav-content>
    <header>
      <div id='header-left'>
        <span class="material-icons" (click)="sidenav.toggle()">menu</span>
        <h1>Hello there</h1>
      </div>
      <div>
      @if (auth$ | async; as auth) {
        <button mat-button (click)="logout()">Logout</button>
      } @else {
        <a mat-button routerLink="/login" >Login</a>
      }
      </div>
    </header>
    <main>
      <router-outlet />
    </main>

  </mat-sidenav-content>
</mat-sidenav-container>
