<div>
  <button mat-button (click)="goBack()">Regresar</button>
  <h2>Actualisar usuario</h2>
  @if(userFound) {
    <user-form
      type='update'
      [actionReq$]='actionStatus$'
      [userOnForm]='userFound'
      (onSubmitEvent)="onSubmit($event)"
    />
    <div class='cuation-btn'>
      @if (deleteReq$ | async; as delReq) {
        @switch (delReq.status) {
          @case ('unstarted') {
            <button mat-button (click)="onDelete($event)">Eliminar</button>
          }
          @case ('loading') {
            <my-spinner />
          }
          @case ('failed') {
            <button mat-button (click)="onDelete($event)">Eliminar</button>
            <p>Error: {{delReq.error}}</p>
          }
        }
      }

    </div>

  } @else {
    <my-spinner />
  }

</div>
